/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/public/js/admins
/public/css/
/public/images
/node_module
/public/css/customers
/public/js/customers
/node_modules
/public/fonts
/.framgia-ci-reports
package-lock.json
/public/library
/resources/assets
